.child{
	width: 25%;
	border: 5px outset #CB0ED1;
	color: #CB0ED1;
	padding: 5%;
	text-align: center;
	margin: 5%;
	box-shadow: 0px 10px 10px 10px #CB0ED1;
}
.socialicon{
	width: 188px;
	border: 3px inset #CB0ED1;
	border-radius: 25%;
    height: 153px;
}
